$primary-color : #121C44;
$secondary-color : #00E99F;
$white : #fff;
$gray-light: #f5f6f9;
$shadow-subtitle: #79ffd5ea;
$gray-shadow: #C3C6D1;
$title-shadow-light : 0px 0px 0px $white, 1px 1px 0px $white, 2px 2px 0px $white, 3px 3px 0px $white, 4px 4px 0px $white;
$text-shadow-light : 1px 1px 0px $white;
$subtitle-shadow: 1px 1px 0px $shadow-subtitle, 2px 2px 0px $shadow-subtitle, 3px 3px 0px $shadow-subtitle, 4px 4px 0px $shadow-subtitle;
$subtitle-shadow-white-select: 1px 1px 0px $white, 2px 2px 0px $white, 3px 3px 0px $white, 4px 4px 0px $white;

$shadow-exp-1: #cc8364;
$shadow-exp-2: #94ad54;
$shadow-exp-3: #5f77b8;
$shadow-exp-4: #af6475;

$shadow-light: #c6c8d7;